@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Poppins:wght@500;600&display=swap');

.container {
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
}

.grid_2x12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #f0f0f0;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  margin-top: 0;
  height: 30vh;
}

.grid_2x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: #f0f0f0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 50px;
  padding-bottom: 0px;
  height: 67vh;
}

.shadow_background {
  border: 1px black;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 10px;
}

.welcome {
  padding: 3vh 0px 0px 2vh ;
  grid-column: span 5;
}

.myBalance {
  grid-column: span 4;
}

.myGraph {
  grid-column: span 1;
  grid-row: span 2;
}

.profile {
  grid-row: span 3;
  grid-column: span 3;
}

.myExpenses {
  grid-row: span 2;
  grid-column: span 3;
}

.myIncome {
  grid-row: span 2;
  grid-column: span 3;
}

.mySavings {
  grid-row: span 2;
  grid-column: span 3;
}

.myJournal {
  grid-row: span 5;
  grid-column: span 3;
}

.mySpendings {
  grid-row: span 2;
  grid-column: span 2;
}

.chancheiro {
  border-radius: 20px 0px 0px 20px;
  width: 3%;
  height: 100%;
  background-color: #de78ae;
}

.flex_inline {
  display: inline-flex;
}

.flex_column {
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-left: 16px;
}

.tipography_title {
  color: #afafaf;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tipography_balance {
  color: #bd147a;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 7vw;
}

.tipography_number {
  color: #15223c;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 20%;
}

.tipography_welcome {
  color: #040404;
font-family: Poppins;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

/*            */

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileContent {
  display: grid;
  grid-gap: 10px;
  text-align: center;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
  background-color: #f0f0f0;
}

.name {
  font-size: 24px;
  font-weight: bold;
}